
  #content {
    border: 4px dotted #54082e;
    width 80%;
    margin;
    auto;
    background-color: #c9606a;
  }

  div {
    border: 5px solid #920000;
    background-color: #dadada;
    margin: 10px;
    padding: 3px;
  }

  #headerBox {}

  .textBox {
    overflow: auto;
  }

  .textBox img {
    width 25%;
    clear: both;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }

  @media (max-width: 660px) {
    #content {
      width: 100%;
    }
  }
